* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #aaa;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
  }

  main {
    background-color: #fff;
    padding: 25px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px #00000080;
  }

  .row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 1;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th {
    text-align: center;
    padding: 4px;
    border-bottom: 2px solid #000;
  }

  td {
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid #bbb;
  }

  tr:hover {
    background-color: #eee;
  }